@font-face{
    font-family: 'Blablavla';
    font-weight: 400;
    src: url('../../src/assets/fonts/')
         url('../../src/assets/fonts/');
}

:root{
    --gr-one : #23494A ;
    --gr-two : #BFFFC7 ;
    --gr-three : #FF9C60 ;
    --gr-four : #FFD6B8 ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .4s ;
}

body{
    background: radial-gradient(var(--gr-one), var(--gr-two));
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.bubble{
    background: url(../../src/assets/img/travel/aurora.jpg);
    -webkit-background-size : cover;
    background-size: cover;
    background-position: center center;
    height: 450px;
    width: 450px;
    box-shadow: 0 20px 5px 5px rgba(0, 0, 0, 0.2);
    animation: animate 5s linear infinite;
    transition: all 1s ease-in-out;
}

@keyframes animate {
    from {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40% ;
    }
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60% ;
    }
    to {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40% ;
    }
}