*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #020312;
    --text-color: #fff;
    --main-color: #eb4a4a;
    --second-color:gray;
    --other-color:#12141c;
    --h1-font: 3.5rem;
    --h2-font: 3rem;
    --p-font: 1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 25px 10%;
    transition: all .40 ease;
    z-index: 1000;
}

.menu {
    font-size: 2.5rem;
    z-index: 1001;
    cursor: pointer;
    display: none;
}

.navbar {
    display: flex;
}

.navbar a{
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: 500;
    padding: 10px 25px;
    margin: 0 2px;
    border-radius: 0.5rem;
    transition: all .40s ease;
}

.navbar a:hover{
    color: var(--text-color);
    background: var(--main-color);
}

section{
    padding: 150px 15% 90px;
}

.home{
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(../img/background.png);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.description {
    line-height: 1.3;
    letter-spacing: 0.5px;
}

.description h1{
    margin: 20px 0;
    font-size: var(--h1-font);
    letter-spacing: 2.5px;
}

span {
    color: var(--main-color);
    font-style: italic;
    font-weight: 800;
}

.description>span{
    font-weight: 900;
    font-size: large;
}

.description p{
    font-size: var(--p-font);
    margin-bottom: 20px;
}

.home > img{
    width: 50%;
    border-radius: 0.5rem;
}